<% provide(:title, "Edit Blogpost") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Edit Post') %>
    </div>
</header>

<div class="row">
  <div class="space"></div>
  <div class="col-md-8 col-md-offset-2">
    <%= render 'shared/blogpost_form' %>
  </div>
</div>
