<% @title = "Administration" %>

<div class="text-center">
  <br>
  <%= link_to "Dashboard", dashboard_path, class: "btn btn-outline-primary btn-lg" %>
  <br>
  <br>
  <%= link_to "All Members", members_path, class: "btn btn-outline-primary btn-lg" %>
  <br>
  <br>
  <%= link_to "All Projects", projects_path, class: "btn btn-outline-primary btn-lg" %>
  <br>
  <br>
  <%= link_to "All Subscribers", subscribers_path, class: "btn btn-outline-primary btn-lg" %>
  <br>
</div>
