<% @title = "Decals" %>

<div class="text-center">

  <h4>Applications are due by Friday, August 31st at 11:59 PM</h4>
  <div class="container-fluid">
	  <div class="row mt20">
	    <div class="col-sm-12 col-md-12 text-center">
	        <div class="col-sm-12 col-md-6" style="padding: 5px 5px;">
	        	<h3>Machine Learning Decal</h3>
  				<p>We are hosting our introductory Machine Learning Decal again this semester! The decal is a chance for those who are familiar with programming to try their hand at analyzing and manipulating data in python, and experimenting with various machine learing and statistical methods. Recommended for those who have taken cs61a, data8, stats 133, or an equivalent. Find out more and apply <%= link_to 'on our DeCal page', "https://ml.berkeley.edu/decals/MLD", target: "_blank" %>. Applications are due Friday, August 31st at 11:59pm.</p>
	        </div>
	        <div class="col-sm-12 col-md-6 text-md-left text-xs-center" style="padding: 5px 5px;">
	          <a href="https://ml.berkeley.edu/blog" target="_blank" class="btn btn-outline-primary animate-fade-in-750">Read the Blog</a>
	        </div>
	    </div>
	  </div>
	  <div class="row mt20">
	    <div class="col-sm-12 col-md-12 text-center">
	        <div class="col-sm-12 col-md-6" style="padding: 5px 5px;">
	        	<h3>Impact of AI Decal</h3>
  				<p>Machine Learning at Berkeley is proud to be offering a new DeCal this semester, the Impact of AI DeCal! As AI becomes increasingly woven into the daily fabric of our lives, there is a greater need for understanding how it will affect the world we share. We hope that by exploring various economic, social, and ethical challenges facing AI in an interactive format, we can spark a conversation that reaches across disciplines to find solutions. No technical knowledge of AI/ML is needed. Find out more and apply <%= link_to 'on our DeCal page', "https://decal.berkeley.edu/courses/4542", target: "_blank" %>. Applications are due by Friday, August 31st at 11:59 PM</p>
	        </div>
	        <div class="col-sm-12 col-md-6 text-md-left text-xs-center" style="padding: 5px 5px;">
	          <a href="https://ml.berkeley.edu/blog" target="_blank" class="btn btn-outline-primary animate-fade-in-750">Read the Blog</a>
	        </div>
	    </div>
	  </div>
	</div>

</div>
