<% @title = "Workshops" %>

<div class="text-center">
	<h3>More Information Coming Soon!</h3>

  <br>
  <!--<%= image_tag("workshopseries.png", alt: "ML@B Workshop Series", style: "width: 100%; margin-bottom: 50px;") %>-->
  <br>

</div>
