<h1>ML@B</h1>

<p>Sup <%= @member.name %>,</p>

<p>
Welcome to the new ML@B website! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@member.activation_token,
                                                    email: @member.email) %>

<p>- D</p>
