<h1>Machine Learning At Berkeley</h1>

<p>Hi <%= @subscriber.name %>,</p>

<p>
Thanks for signing up for our updates!
<br>
Stay tuned for new blogposts, event updates, and just general newsletters!
</p>

<p>- ML@B</p>
