<h1>
  <%= link_to(picture_of_project(object, class: "img-circle project-img"), object) %>
  <%= object.name %>
</h1>
<h5>
  <%= object.tag %>
</h5>
<p>
  <%= object.semester.capitalize + ", #{object.year}" %>
</p>
