<% @title='Non Profit Statement' %>
<% content_for :description do %>
<p>We do everything.</p>
<% end %>
<% content_for :actions do %>
<p>We do everything.</p>
<% end %>
<div class="container-fluid">
  <div class='row'>
    <div class='col-xs-12 col-md-6 col-md-offset-3'>
      <div class="well mt40 mb40">
        <h1>Non Profit Statement</h1>

         <p>Machine Learning at Berkeley (ML@B) is a student organization based in the University of California, Berkeley, and is dedicated to building and fostering a vibrant machine learning community on the UC Berkeley campus. We aim to do so by providing resources, both educational and computational, to undergraduate and graduate students wanting to explore machine learning, and providing opportunities for them to get hands-on experience on real world problems in both academic research and industry settings. By growing a strong machine learning community at UC Berkeley, we hope to benefit, educate, and inspire the students at the university as well as aiding the machine learning community at large.</p>

         <h3>How you can contact us about questions</h3>

         <p>If you have questions or concerns regarding this statement, you should contact us at <a href="mailto:support@ml.berkeley.edu">support@ml.berkeley.edu</a>.</p>

      </div>
    </div>
  </div>
</div>
