<% provide(:title, "About") %>
<div class="top-pad"></div>

<div class="container">
  <div class="row" role="tabpanel">

    <ul id="category" class="list-of-links centered">
    <li><a href="#" class="zip" data-filter="zip">Legacy</a>
    </li>
    <li><a href="#" data-filter="wandelingen">Team</a>
    </li>
    <li><a href="#" data-filter="rondleidingen">New Member Opportunities</a>
    </li>
    <li><%= link_to "Legal", legal_path %>
    </li>
    </ul>
    <article class="post" id="rondvaart">
        <header>
            <p class="byline">Legacy</p>
             <h2>Leagcy</h2>

        </header>
    </article>
    <!-- End article.post -->
    <article class="post" id="wandelingen">
        <header>
            <p class="byline">Team</p>
             <h2>Team</h2>

        </header>
    </article>
    <!-- End article.post -->
    <article class="post" id="rondleidingen">
        <header>
            <p class="byline">New Member Opportunities</p>
             <h2>New Member Opportunities</h2>

        </header>
    </article>
    <!-- End article.post -->
    <article class="post" id="Legal">
        <header>
            <p class="byline">Legal</p>
             <h2>Legal</h2>

        </header>
    </article>
    <!-- End article.post -->


  </div>

  <%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>
  <div class="space"></div>
</div>
