<% provide(:title, "Get Involved") %>

<h1>Coming Soon..</h1>

<h6>
  This is the page for the Industry, the Faculty, Graduate Students,
  and other Campus organizations to get information on
  how to get involved with ML@B.
</h6>

<h3>Industrial Affiliates</h3>
<p>
    <li>Resume Book</li>
    <li>Networking</li>
</p>
<h3>Faculty</h3>
<p>
    <li>BAIR Lab</li>
</p>
<h3>Campus Presence</h3>
<p>
    <li>Grad student talks</li>
    <li>Co-op w BiDS, DSB, etc</li>
</p>
<%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>
<div class="space"></div>
