<% provide(:title, "Get Involved") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'Coming Soon..') %>
    </div>
    <h6>
      This is the page for the Industry, the Faculty, Graduate Students,
      and other Campus organizations to get information on
      how to get involved with ML@B.
    </h6>
</header>

<div class="col-md-10 col-md-offset-1">
  <div class="space"></div>

  <h4>Industrial Affiliates</h4><hr>
  <p>
      <li>Resume Book</li>
      <li>Networking</li>
  </p>
  <br>
  <h4>Faculty</h4><hr>
  <p>
      <li>BAIR Lab</li>
  </p>
  <br>
  <h4>Campus Presence</h4><hr>
  <p>
      <li>Grad student talks</li>
      <li>Co-op w BiDS, DSB, etc</li>
  </p>

</div>



<%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>
