<div id="t-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <h1><strong>Machine Learning</strong> at <span class="color">Berkeley</span></h1>
      <p class="lead">Building and fostering a vibrant machine learning community</p>
      <a href="#t-about" class="fa fa-angle-down page-scroll"></a>
    </div>
  </div>
</div>

<div id="t-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h4>About us</h4>
            <h2>Learn. <strong>Connect.</strong> Grow.</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <ul class="about-list">
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Events</strong> - <em>We organize events centered around Machine Learning and Data Science that are open to all.</em>
            </li>
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Resources</strong> - <em>We provide an inclusive community to support professional and academic development.</em>
            </li>
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Teams</strong> - <em>We work with companies on challenging problems. We work on internal research projects.</em>
            </li>
            <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>The Blog</strong> - <em>Stay informed. Learn from our <a href="https://ml.berkeley.edu/blog">blog</a>.</em>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <p class="intro">Machine Learning at Berkeley (ML@B) is a student-run non-profit organization based at the University of California, Berkeley, and is dedicated to <strong>building and fostering a vibrant machine learning community on the UC Berkeley campus</strong>. <br>We aim to do so by providing resources, both educational and computational, to undergraduate and graduate students interested in exploring machine learning, and providing opportunities for them to get hands-on experience with real world problems in both academic research and industry settings. By growing a strong machine learning community at UC Berkeley, we hope to benefit, educate, and inspire the students at the university as well as <strong>aiding the machine learning community at large</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
