<% provide(:title, "Legal") %>
<div class="top-pad"></div>

<div class="container">
  <h1>Pages#legal</h1>
  <p>Find me in app/views/pages/legal.html.erb</p>

  <%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>
  <div class="space"></div>
</div>
