<% provide(:title, "Portfolio") %>

<h1>Pages#portfolio</h1>
<p>Find me in app/views/pages/portfolio.html.erb</p>

<%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>
<div class="space"></div>
