<% provide(:title, "Public Updates") %>
<div class="top-pad"></div>

<div class="container">
  <h1>Pages#updates</h1>
  <p>Find me in app/views/pages/updates.html.erb</p>
  
  <%= image_tag("favicon.png", alt: "ML@B logo", class: "logo-resize") %>
  <div class="space"></div>
</div>
