<% @title = "Editing Project" %>

<div class="container-fluid">
  <div class="row" style="margin-bottom:5em">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
