<% @title = "ML@B Internal Calendar" %>

<div class="row col-md-10 col-md-offset-1 text-center">
  <h2>Member Events</h2>
  <div class="uneditable-calendar-internal animate-fade-in-500" style="margin: 3em 0;"></div>
</div>
