<% @title = "ML@B Public Calendar" %>

<div class="row">
  <div  style="float:right; width: 60%; margin: 3em;">
    <div class="uneditable-calendar"></div>
  </div>

  <h2 class="text-center">Come to Our Public Events</h2>

  <h3>Info Sessions</h3>
  <p>We will be hosting our Fall 2017 club info sessions on Wednesday and Thursday August 30th and 31st, from 8pm to 10pm, in the Wozniak Lounge (Soda Hall). If you like Machine Learning and think you might be interested in joining ML@B, be sure to come by!</p>

  <h3>Data Science Decal</h3>
  <p>We are hosting our introductory Data Science Decal again this semester! The data science decal is a chance for those who are familiar with programming to try their hand at analyzing and manipulating data in python, and experimenting with various machine learing and statistical methods. Recommended for those who have taken cs61a, data8, stats 133, or an equivalent. Find out more and apply <%= link_to 'on our DeCal page', "https://decal.berkeley.edu/courses/4128", target: "_blank" %></p>

  <h3>Deep Learning Decal</h3>
  <p>We have added another DeCal for fall 2017 for more advanced students looking to explore Deep Learning. Deep Learning is unarguably and rapidly changing many fiends, and it is still developing and growing as we speak. This DeCal will explore both the foundations as well as some special topics of Deep Learning, and will include a mixture of lecture and reading group-style learning. Recommended for those who have taken cs189/289, or have machine learning experience elsewhere. Find out more and apply <%= link_to 'on our DeCal page', "https://decal.berkeley.edu/courses/4127", target: "_blank" %></p>

  <h3>Demo Day</h3>
  <p>Being a member of ML@B means being a member of a vibrant community of students who are passionate about what they're working on. Demo Days provide our members the chance to not only show off the work they've been doing, but also learn about what the rest of the ML@B community is working on. These will be publicized once they happen later on in the semester.</p>

  <h3>Various Talks and Workshops</h3>
  <p>ML@B hosts a variety of technical talks and educational workshops throughout the semester. These events are open to the public but are especially encouraged for new members who want to gain insight into the machine learning community. We've done workshops on Tensorflow and introductory Natural Language Processing, among many other topics. Some of our past speakers have included Adobe Research's Aaron Hertzmann, Google Brain's Ian Goodfellow, and Comma.ai's George Hotz. Check out our calendar for updated info on events!</p>

</div>
