<% provide(:title, "ML@B Public Calendar") %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'ML@B Public Calendar') %>
    </div>
</header>

<div class="space uneditable-calendar"></div>
