/*
 *= require owl.carousel
 *= require owl.theme
 */

.project-profile {
  position: relative;
  height: 333px;
  border-bottom: 4px solid #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  img {
    height: 100%;
    width: 100%;
  }
}
