<% @title = "Timeline" %>

<div class="container-fluid">
  <div class='row'>
    <div class="left-timeline col-sm-12">
      <ul>
        <%= render @feed.recent %>
        <% if @feed.old.any? %>
          <li class="period-marker">
            <p>Last Month</p>
          </li>
          <%= render @feed.old %>
        <% end %>
        <% if @feed.ancient.any? %>
          <li class="period-marker">
            <p>Last Year</p>
          </li>
          <%= render @feed.ancient %>
        <% end %>
      </ul>
      <%= content_tag(:div, content_tag(:h4, "No Updates at the Moment"), class: "text-center") if @feed.empty? %>
    </div>
  </div>
</div>
