<% @title = "Advisors" %>

<div class="text-center">
  <h2>Notes from ML@B's former Presidents:</h4>
  <h3><span>First</span> &nbsp; <strong>Ted Xiao</strong></h3>
  <p>A bit more than a year ago, I started Machine Learning at Berkeley.
  At the time, I had no idea that a random idea I pitched to my good friend Gautham would become what it is today: an established 50+ member community that is at the forefront of the machine learning community at UC Berkeley.

  Machine learning as a field is extremeley exciting  to me not just because of the mind-boggling problems we tackle or even the diverse array of methods we employ; machine learning is exciting because of the intense, passionate, crazy smart people we meet along this journey. I'm very happy to have started a movement that has brought together a community of such like-minded individuals at Berkeley.

  Regardless of your background, I welcome you to join Machine Learning at Berkeley along our quest to delve deeper into the beautiful field of machine learning.</p>
  <h3>Second &nbsp; <strong>Gautham Kesineni</strong></h3>
  <p>I founded Machine Learning at Berkeley with Ted two semesters ago with the goal of creating an ML community on campus. To that extent, I think we succeeded. We have some of the smartest, craziest, and most passionate people I’ve ever met here in ML@B. This is one of the few student organizations where members have the opportunity to work with like-minded people on cutting-edge independent research or projects with some of the largest companies in the Silicon Valley.

  Machine Learning will probably go down as one of the defining technologies of the next decade. With applications like self-driving cars, drone delivery, and AI assistants on the horizon, ML is poised to solve some of the most exciting and challenging problems we face. So, to everyone thinking about joining ML@B, do it! This is your opportunity to make a difference.</p>

</div>
