<% @title = "About ML@B" %>
<p></p>
<p>Machine Learning at Berkeley (ML@B) is student-run organization based at the University of California, Berkeley, and is dedicated to building and fostering a vibrant machine learning community on the University of California, Berkeley campus as well as contributing to the greater machine learning community beyond the campus.</p>
<p>We provide, for the undergraduate and graduate students with introductory and intermediate knowledge in machine learning, opportunities to get hands-on experience with real world problem in both academic research and industry settings. On the industry side, we partner with companies, other nonprofit organizations, and startups to plan and offer relevant machine learning projects for the students to apply what they have learned in the classroom setting, so that they may gain more industry experience in exercising their machine learning knowledge. On the research side, we encourage and promote student-led research and offer computation resources as well as guidance from both faculty advisors and other experienced members, with the goal of inspiring novel and groundbreaking developments from the UC Berkeley machine learning community that would greatly contribute to the overall progress in the field of machine learning.</p>
<p>In addition to industry and research projects, we also provide educational resources consisting of student-taught courses, workshops, and technical talks that are available for anyone with any level of background who is interested in learning machine learning. The courses cover all introductory machine learning topics, allowing a student to learn the basics of machine learning with no prior experience, and the workshops and technical talks hosted each semester allow students to learn about more specialized topics. We also make educational and information resources available to the general public outside of the university campus through our website and blog with our tutorial series and technical posts.</p>
<p>By growing a strong machine learning community at UC Berkeley, we hope to benefit, educate, and inspire the students at the university as well as aid the machine learning community at large.</p>
<p></p>

<div id="m-clients" class="text-center">
  <div class="overlay">
    <div class="container">
      <h2><strong>Companies</strong> we work with</h2>

      <div class="owl-carousel">
        <% (1..17).each_slice(2) do |i, j| %>
          <div class="thumbnail">
            <%= image_tag("companies/#{i}.png", class: "animate-fade-in-#{100*i}") %>
            <%= image_tag("companies/#{j}.png", class: "animate-fade-in-#{100*j}") if j %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
