<% @title = "New Member Opportunities" %>
<div class="">
  <h2 class="text-center">What You Will Do As A New Member</h2>

  <h3>Join a Project!</h3>

  Our members have the unique opportunity to gain exposure in Machine Learning fields by participating in consulting projects with leading companies in the ML Industry or by participating in cutting edge research. Interested? Apply now!

  <h3>Talks & Workshops</h3>

  ML@B hosts a variety of technical talks and educational workshops throughout the semester. These events are open to the public but are especially encouraged for new members who want to gain insight into the machine learning community. Some of our past speakers have included Adobe Research's Aaron Hertzmann, Google Brain's Ian Goodfellow, and Comma.ai's George Hotz.

  <h3>Boot Camp</h3>

  All new members have the opportunity to learn the fundamentals of Machine Learning in a crash course, guerilla-schedule setting to help catalyze the educational process, and allow all our members to hit the ground running and affect real change in their respective projects.

  <h3>Demo Days</h3>

  Being a member of ML@B means being a member of a vibrant community of students who are passionate about what they're working on. Demo Days provides our members the chance to not only show off the work they've been doing, but also learn about what the rest of the ML@B community is working on.

  <h3>Machine Learning Decal</h3>

  ML@B aims to make Machine Learning accessible and friendly to students at all knowledge levels. Our decal is a student run semester class that teachers the basics of Machine Learning in theory and in application. Students will have the opportunity to implement state of the art machine learning techniques and gain exposure on real world problems.

  <br/>
  <br/>
</div>
