// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
$mlab-blue: #5084BB;
$mlab-red: #9E4A46;

/* sidebar */

aside {
  section.member_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      img {
        float: left;
        margin-right: 10px;
      }
    }
  }
}

.img_edit {
  margin-top: 15px;
}

/* forms */

form {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  label, input {
    width: 100%;
    height: auto !important;
  }

  #error_explanation {
    color: $mlab-red;
    ul {
      color: $mlab-red;
      margin: 0 0 30px 50px;
    }
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }

  #session_remember_me, #blogpost_published, #project_current, #member_exec, #member_officer {
    width: auto;
    margin-left: 0;
  }
}


/* Members index */

.members {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* blogposts */

.blogposts {
  list-style: none;
  padding: 0;
  li {
    padding: 25px 0;
    border-top: 1px solid #e8e8e8;
  }
  .title {
    font-size: 1.25em;
    font-weight: bold;
  }
  .member {
    display: block;
    font-size: 0.9em;
    a {
      color: $gray-light;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    font-size: 0.9em;
  }
  .content {
    padding: 20px 0 5px 0;
    display: block;
    img {
      display: block;
      padding: 5px 0;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Pagination style */

.mlab_pagination {
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  ul {
    li {
      padding: 0.2em 0.3em;
      a {
        border: none;
        background: none;
        text-decoration: none;
        color: black;
        &:hover, &:focus {
          color: black;
        }
      }
    }
    .disabled {
      display: none;
    }
    .active {
      a {
        font-weight: bold;
        background-color: darken(#f1f1f1, 20);
        &:hover, &:focus {
          text-decoration: none;
          background-color: $mlab-blue;
        }
      }
    }
  }
}
