<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td align="left" valign="top">
      <br />
      <br />
      <span class="applefix" style="font-family:Arial; font-size:14px; color:#5084BB;">
        <b>General Inquiries:</b><br />
        ml.at.berkeley@gmail.com<br />
        <b>Member/Account/Website Issues:</b><br />
        David J. Lee<br />
        djlee@ml.berkeley.edu
      </span>
      <br />
      <br />
    </td>
  </tr>
</table>
