<nav id="footer" class="navbar-fixed-bottom">
  <div class="container">
    <div class="pull-left fnav">
      <ul class="footer-links">
        <li>ML@B &copy 2016</li>
        <li>&middot</li>
        <li><a href="/">Website</a></li>
        <li>&middot</li>
        <li><a href="https://ml.berkeley.edu/blog">Blog</a></li>
        <li>&middot</li>
        <li><%= link_to "Legal", legal_path %></li>
        <% if !logged_in? %>
          <li>&middot</li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
        <li>&middot</li>
        <li><a href="mailto:ml.at.berkeley@gmail.com">Talk to Us <i class="fa fa-envelope"></i></a></li>
        <li>&middot</li>
        <li>
          <ul class="footer-social">
            <li><a href="https://www.facebook.com/berkeleyml"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.github.com/mlberkeley"><i class="fa fa-github"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

</div>
