<nav id="footer" class="navbar-fixed-bottom">
  <div class="container">
    <div class="pull-left fnav">
      <ul class="footer-links">
        <li><p>ML@B &copy 2016</p></li>
        <li>&middot</li>
        <li><a href="/"><p>Website</p></a></li>
        <li>&middot</li>
        <li><a href="https://ml.berkeley.edu/blog"><p>Blog</p></a></li>
        <li>&middot</li>
        <li><a href="/legal"><p>Legal</p></a></li>
        <li>&middot</li>
        <li><a href="mailto:ml.at.berkeley@gmail.com"><p>Talk to Us <i class="fa fa-envelope"></i></p></a></li>
        <li>&middot</li>
        <li>
          <ul class="footer-social">
            <li><a href="https://www.facebook.com/berkeleyml"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.github.com/mlberkeley"><i class="fa fa-github"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

</div>
