<% content_for :navbar do %>
  <div class="snav">
    <ul class="snav-links">
      <li><%= link_to "Decals", decals_path, class: ('active' if @title == "Decals") %></li>
      <li><%= link_to "Workshops", workshops_path, class: ('active' if @title == "Workshops") %></li>
    </ul>
  </div>
<% end %>

<%= render "layouts/not_home" do %>
  <%= yield %>
<% end %>
