<% provide(:title, 'All members') %>

<h1>All members</h1>

<ul class="members">
  <% @members.each do |member| %>
    <li>
      <%= picture_of member %>
      <%= link_to member.name, member %>
      <% if (current_member.exec? or current_member.admin?) && !current_member?(member) %>
        | <%= link_to "delete", member, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
