<% provide(:title, 'All members') %>

<header class="secondary_header">
    <div class="page_title">
      <%= content_tag(:h1, 'All Members') %>
    </div>
</header>

<div class="row">
  <div class="space"><div>
  <ul class="members">
    <% @members.each do |member| %>
      <li>
        <%= picture_of member %>
        <%= link_to member.name, member %>
        <% if (current_member.exec? or current_member.admin?) && !current_member?(member) %>
          | <%= link_to "delete", member, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
