<% provide(:title, @member.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
      <h1>
        <%= picture_of @member %>
        <%= @member.name %>
      </h1>
    </section>
  </aside>
</div>
